// --------------------------------------------------------
// --------------------- Ljust tema -----------------------
// --------------------------------------------------------

// primär och sekundär kan byta plats när de byter tema

$primary_color: #faf1e9;

$secondary_color: #2c2a33;

$accent_color: #ffb347;

// samma som sekundär
$text_color: #2c2a33;

// hade passat i mörkt tema!!
$highlight_color: #b0eacd;

// Denna kan bli lite ljusare än secondary när den byts till mörkt tema (ljusbrun/grå)
$form_bg_color: #fff

// --------------------------------------------------------
// --------------------- Mörkt tema -----------------------
// --------------------------------------------------------

