// --------------------------------------------------------
// --------------------- Ljust tema -----------------------
// --------------------------------------------------------

// primär och sekundär kan byta plats när de byter tema
:root {
    --primary_color: #faf1e9;

    --secondary_color: #2c2a33;

    --accent_color: #ffb347;

    --text_color: #2c2a33;

    --highlight_color: #b0eacd;
    
    --form_bg_color: #fff;
}

// --------------------------------------------------------
// --------------------- Mörkt tema -----------------------
// --------------------------------------------------------
.dark_mode {
    --primary_color: #2c2a33;

	--secondary_color: #faf1e9;

	--accent_color: #ffb347;

	--text_color: #2c2a33;

	--highlight_color: #b0eacd;

	// Denna kan bli lite ljusare än secondary när den byts till mörkt tema (ljusbrun/grå)
	--form_bg_color: #49484e;
}
