// ---------------------------------------
// ------------- <header> ----------------
// ---------------------------------------

.hero_section {
    max-height: 90vh;
}

// ---------------------------------------
// -------------- <main> -----------------
// ---------------------------------------

main {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1rem;
}

.sort_products_section {
    grid-column: span 8;
}

.product_page {
    grid-column: span 6;
    div {
        justify-content: space-between;
        .product {
            flex-basis: 32%;
        }
    }
}

.shopping_cart_page {
    margin: 0;
    order: 0;
    grid-column: span 2;
    .cart_products {
        button {
            display: inline;
        }
    }
    .discount_code {
        flex-wrap: wrap;
        gap: 0.5rem;
        input {
            flex-basis: 100%;
        }
    }
}

.order_form_page {
    grid-column: 3 / span 4;
    
}