body {
	position: relative;
}

// ---------------------------------------
// -------------- Header -----------------
// ---------------------------------------

.nav_section {
	width: 100vw;
	min-height: 10vh;
	display: flex;
	justify-content: space-between;
	background-color: var(--primary_color);
	align-items: center;
	padding: 1rem;
	position: fixed;
	top: 0;
	z-index: 5;
	h1 {
		color: var(--secondary_color);
		font-size: clamp(1.5rem, 4vw, 3rem);
	}
	button {
		height: 6vh;
		aspect-ratio: 1 / 1;
		background: transparent;
		border: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	button .material-symbols-outlined {
		margin: 0;
		background: none;
		height: 100%;
		font-size: clamp(2rem, 6vh, 8rem);
		color: var(--secondary_color);
	}
	.shopping_cart {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

.cart_cost {
	min-height: 5vh;
	width: auto;
	aspect-ratio: 1/ 1;
	background-color: var(--secondary_color);
	color: var(--primary_color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.7s ease-in-out, background-color 0.7s ease-in-out;
}

.hero_section {
	margin-top: 10vh;
	position: relative;
	h2 {
		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
		left: 1rem;
		color: white;
	}
	figure {
		margin: 0;
		max-height: 100%;
		position: relative;
		margin: 0 auto;
		img {
			min-width: 100%;
			height: auto;
			object-fit: cover;
			filter: blur(0.15rem);
			filter: brightness(0.6);
		}
		figcaption {
			position: absolute;
			top: 65%;
			left: 1rem;
			color: white;
		}
	}
}

// ---------------------------------------
// -------------- <main> -----------------
// ---------------------------------------

main {
	background-color: var(--primary_color);
}

.sort_products_section {
	padding: 1rem;
	border-bottom: 2px solid var(--accent_color);
	h2 {
		color: var(--secondary_color);
		font-size: clamp(1.5rem, 4vw, 3rem);
	}
	.sorting_btns {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		margin-top: 1rem;
		input {
			border: none;
			color: var(--text_color);
			background-color: var(--highlight_color);
			padding: 0.5rem;
			border-radius: 3rem;
			cursor: pointer; // TODO: fixa färg osv
		}
	}
}

.product_page {
	padding: 1rem;
	border-bottom: 2px solid var(--accent_color);
	h2 {
		color: var(--secondary_color);
		font-size: clamp(1.5rem, 4vw, 3rem);
	}
	div {
        margin-top: 1rem;
        .product {
            margin-bottom: 2rem;
			padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
			align-items: baseline;
			background-color: var(--accent_color);
			border-radius: 1rem;
            .product_img {
                flex-basis: 100%;
				max-width: 100%;
				height: auto;
				object-fit: cover;
				margin-bottom: 1rem;
            }
            h3 {
				font-size: clamp(1.5rem, 4vw, 8rem); // TODO: kolla vidare på denna
                flex-basis: 80%;
				color: var(--text_color);
            }
			p:nth-child(3) {
				font-size: clamp(1.5rem, 4vw, 8rem); // TODO: kolla vidare på denna
				flex-basis: 20%;
				text-align: right;
				color: var(--text_color);
			}
            p:nth-of-type(2) {
                flex-basis: 100%;
				font-size: 1.1rem;
				color: var(--text_color);
				margin-top: 1rem;
            }
			.ratings {
                flex-basis: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				gap: 0.5rem;
				color: var(--text_color);
				p {
					font-size: 1.5rem;
				}
				img {
					object-fit: contain;
					max-height: 1.5rem;
					max-width: 1.5rem;
				}
            }
            .count_buttons {
                flex-basis: 100%;
                display: flex;
                justify-content: center;
                gap: 1rem;
                margin-bottom: 2rem;
				margin-top: 2rem;
                .product_amount {
                    width: 10%;
					font-size: 2rem;
                    aspect-ratio: 1 / 1;
					display: flex;
					align-items: center;
					justify-content: center;
                }
                button {
					background-color: var(--primary_color);
                    position: relative;
                    padding: 0;
                    min-width: 15%;
					aspect-ratio: 1 / 1;
                    font-size: 2rem;
                    vertical-align: center;
                    text-align: center;
					border: none;
					border-radius: 50%;
                    cursor: pointer;
                    span {
						color: var(--secondary_color);
                        font-size: clamp(2rem, 2vw, 6rem);
                        pointer-events: none; //för att annars gick det inte att klicka om musen var över span
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
	}
}


// ---------------------------------------
// ------ Main -> shopping_cart ----------
// ---------------------------------------

.shopping_cart_page {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-bottom: 2px solid var(--accent_color);
	h2 {
		font-size: clamp(1.5rem, 4vw, 3rem);
		margin-bottom: 1rem;
		color: var(--secondary_color);
	}
	.cart_products {
		display: flex;
		flex-direction: column;
		color: var(--secondary_color);
		background-color: var(--form_bg_color);
		border-radius: 3rem;
		padding: 1rem;
		.shopping_cart_item {
			margin-top: 1rem;
			color: var(--secondary_color);
			border-bottom: 1px solid var(--secondary_color);
			.shopping_cart_products {
				display: flex;
				justify-content: space-between;
			}
			.discount_msg {
				color: var(--highlight_color);
			}
		}
		.delivery_fee {
			display: flex;
			justify-content: space-between;
			color: var(--accent_color);
			margin-top: 1rem;
			border-bottom: 1px solid var(--accent_color);
		}
		.total_sum {
			font-size: 1.2rem;
			display: flex;
			justify-content: space-between;
			margin-top: 1rem;
		}
		.discount_code {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 1rem;
			input {
				color: var(--secondary_color);
				background-color: var(--primary_color);
				border: none;
				border-radius: 3rem;
				padding: 0.5rem;
			}
		}
	}
	.checkout_btn_wrapper {
		margin-top: 1rem;
		display: flex;
		justify-content: center;
		button {
			margin-top: 1rem;
			border: none;
			border-radius: 3rem;
			padding: 0.7rem;
			padding-inline: 2rem;
			background-color: var(--highlight_color);
			cursor: pointer;
		}
	}
}

// ---------------------------------------
// ----------- Main -> form --------------
// ---------------------------------------

.order_form_page {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	h2 {
		font-size: clamp(1.5rem, 4vw, 3rem);
		margin-bottom: 1rem;
		color: var(--secondary_color);
	}
	form {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		input {
			background-color: var(--form_bg_color);
			color: var(--secondary_color);
			border: none;
			border-radius: 3rem;
			padding: 0.7rem;
		}
		span {
			color: var(--secondary_color);
			font-size: 1.5rem;
		}
		.error_msg {
			color: red;
			font-size: 1rem;
		}
		.user_input {
			flex-basis: 100%;
			display: flex;
			flex-direction: column;
		}
		.user_input_year_date {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.year_date_span {
				flex-basis: 100%;
			}
			.year_date_input {
				flex-basis: 45%;
				width: 100%;
			}
		}
		p {
			flex-basis: 100%;
			color: var(--secondary_color);
		}
		.payment_choice_btn {
			flex-basis: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			input[type="radio"] {
				accent-color: var(--accent_color);
			}
			input[type="radio"]:checked {
				color: var(--accent_color);				
			}
		}
		div {
			min-width: 100%;
			label {
				margin-bottom: 1rem;
			}
		}
		.checkboxes {
			min-width: 100%;
			display: flex;
			justify-content: space-between;
			input {
				accent-color: var(--accent_color);
			}
		}
		.reset_form, .submit_form {
			flex-basis: 60%;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			color: var(--text_color);
		}
		.reset_form {
			background-color: var(--highlight_color);
		}
		.submit_form {
			background-color: var(--accent_color);
		}
		.submit_form:disabled {
			background-color: #b3a28c;
			color: #656568;
		}
	}
}

.confirm_order_msg {
	padding: 5rem;
	font-size: 2rem;
	color: var(--secondary_color);
}

.too_slow_msg {
	width: 100%;
	padding: 1rem;
	font-size: 2rem;
	text-align: center;
	color: var(--secondary_color);
}

// ---------------------------------------
// -------------- Footer -----------------
// ---------------------------------------

footer {
	// position: absolute;
	// bottom: 0;
	background-color: var(--secondary_color);
	color: var(--primary_color);
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	padding-bottom: 4rem;
}

// ---------------------------------------
// ----------- Theme switch --------------
// ---------------------------------------

.switch_theme {
	height: 3.5rem;
	width: 3.5rem;
	border: 2px solid var(--accent_color);
	border-radius: 50%;
	background-color: var(--secondary_color);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	span {
		color: var(--primary_color);
	}
	span:last-child {
		display: none;
	}
}

.dark_mode .switch_theme span:first-child {
	display: none;
}

.dark_mode .switch_theme span:last-child {
	display: block;
}
