// ---------------------------------------
// -------------- Header -----------------
// ---------------------------------------

.nav_section {
	width: 100vw;
	min-height: 10vh;
	display: flex;
	justify-content: space-between;
	background-color: #1e1f26;
	align-items: center;
	padding: 1rem;
	position: fixed;
	top: 0;
	z-index: 5;
	h1 {
		color: white; //ändra färger osv
	}
	button {
		height: 6vh;
		aspect-ratio: 1 / 1;
		background: transparent;
		border: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	button .material-symbols-outlined {
		margin: 0;
		background: none;
		height: 100%;
		font-size: clamp(2rem, 6vh, 8rem);
		color: white;
	}
	button span {
		background-color: white;
		width: 100%;
		height: 0.5vh;
		border-radius: 2rem;
	}
	button + .nav_menu {
		display: none;
		opacity: 0;
	}
}

.hero_section {
	margin-top: 10vh;
	position: relative;
	h2 {
		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
		left: 1rem;
		color: white;
	}
	figure {
		margin: 0;
		position: relative;
		img {
			min-width: 100%;
			height: auto;
			object-fit: cover;
			filter: blur(0.15rem);
			filter: brightness(0.6);
		}
		figcaption {
			position: absolute;
			top: 70%;
			left: 1rem;
			color: white;
		}
	}
}

// ---------------------------------------
// -------------- <main> -----------------
// ---------------------------------------

.product_page {
	padding: 1rem;
	div {
        margin-top: 1rem;
        .product {
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
			align-items: baseline;
            border-bottom: 1px solid black;
            .product_img {
                flex-basis: 100%;
				max-width: 100%;
				height: auto;
				object-fit: cover;
				margin-bottom: 1rem;
            }
            h3 {
				font-size: clamp(1.5rem, 4vw, 8rem); // TODO: kolla vidare på denna
                flex-basis: 80%;
            }
			p:nth-of-type(1) {
				font-size: clamp(1.5rem, 4vw, 8rem); // TODO: kolla vidare på denna
			}
            p:nth-of-type(2) {
                flex-basis: 100%;
            }
			.ratings {
                flex-basis: 100%;
				display: flex;
				align-items: center;
				gap: 0.5rem;
				p {
					font-size: 1.5rem;
				}
				img {
					object-fit: contain;
					max-height: 1.5rem;
					max-width: 1.5rem;
				}
            }
            .count_buttons {
                flex-basis: 100%;
                display: flex;
                justify-content: center;
                gap: 1rem;
                margin-bottom: 2rem;
				margin-top: 2rem;
                .product_amount {
                    width: 10%;
					font-size: 2rem;
                    aspect-ratio: 1 / 1;
					display: flex;
					align-items: center;
					justify-content: center;
                }
                button {
                    position: relative;
                    padding: 0;
                    min-width: 15%;
					aspect-ratio: 1 / 1;
                    font-size: 2rem;
                    vertical-align: center;
                    text-align: center;
					border-radius: 50%;
                    cursor: pointer;
                    span {
                        font-size: clamp(2rem, 2vw, 6rem);
                        pointer-events: none; //för att annars gick det inte att klicka om musen var över span
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
	}
}


// ---------------------------------------
// ------ Main -> shopping_cart ----------
// ---------------------------------------



// ---------------------------------------
// ----------- Main -> form --------------
// ---------------------------------------

.order_form_page {
	padding: 1rem;
	form {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		label {
			flex-basis: 100%;
			display: flex;
			flex-direction: column;
		}
		p {
			flex-basis: 100%;
		}
		.payment_choice_btn {
			flex-basis: 100%;
			display: flex;
			justify-content: center;
		}
		div {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			label {
				flex-basis: 100%;
			}
		}
		.reset_form, .submit_form {
			flex-basis: 60%;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

// ---------------------------------------
// -------------- H -----------------
// ---------------------------------------
