// ---------------------------------------
// ------------- <header> ----------------
// ---------------------------------------

.hero_section {
    max-height: 60vh;
    overflow: hidden;
    figure {
        height: 100%;
        width: auto;
    }
    img {
        max-height: 100%;
        object-fit: cover;
    }
}

// ---------------------------------------
// -------------- <main> -----------------
// ---------------------------------------

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sort_products_section {
    flex-basis: 100%;
}

.product_page {
    flex-basis: 100vw;
    div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;
        .product {
            flex-basis: calc(50vw - 3rem);
            h3 {
                font-size: clamp(1rem, 2.3vw, 4rem);
                padding-left: 1rem;
            }
            p{
                padding-left: 1rem;
            }
            p:nth-of-type(1) {
                font-size: clamp(1rem, 2.3vw, 4rem);
                padding-left: 0;
                padding-right: 1rem;
            }
            .ratings {
                padding-left: 1rem;
            }
        }
    }
}

// ---------------------------------------
// ------ Main -> shopping_cart ----------
// ---------------------------------------

.shopping_cart_page {
    order: 2;
    flex-basis: 48vw;
    .cart_products {
        position: sticky;
        top: 20vh;
        button {
            display: none;
        }
    }
}

// ---------------------------------------
// ----------- Main -> form --------------
// ---------------------------------------

.order_form_page {
    order: 1;
    flex-basis: 48vw;
}
