// ---------------------------------------
// -------------- <main> -----------------
// ---------------------------------------

main {
    background-color: aqua; // TODO: ta bort, jätte ful
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_page {
    flex-basis: 100vw;
    div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;
        .product {
            flex-basis: calc(50vw - 3rem);
            background-color: white; // TODO: ändra färger osv
            h3 {
                font-size: clamp(1rem, 2.3vw, 4rem);
                padding-left: 1rem;
            }
            p{
                padding-left: 1rem;
            }
            p:nth-of-type(1) {
                font-size: clamp(1rem, 2.3vw, 4rem);
                padding-left: 0;
                padding-right: 1rem;
            }
            .ratings {
                padding-left: 1rem;
            }
        }
    }
}

// ---------------------------------------
// ------ Main -> shopping_cart ----------
// ---------------------------------------

.shopping_cart_page {
    order: 2;
    flex-basis: 48vw;
    // align-self: flex-start;
    // position: relative;
    .cart_products {
        background-color: white;
        border-radius: 3rem;
        position: sticky;
        top: 20vh;
        padding: 1rem;
        button {
            display: none; // TODO: sätt display: inline på desktop version
        }
    }
}

// ---------------------------------------
// ----------- Main -> form --------------
// ---------------------------------------

.order_form_page {
    order: 1;
    flex-basis: 48vw;
    input {
        border: none;
        border-radius: 3rem;
        padding: 0.7rem;
    }
}
