// ---------------------------------------
// -------------- <main> -----------------
// ---------------------------------------

main {
    background-color: aqua; // TODO: ta bort 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
}

.sort_products_section {
    grid-column: span 5;
}

.product_page {
    grid-column: span 4;
    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        .product {
            grid-column: span 1;
            background-color: white; // TODO: ändra färger osv
            h3 {
                font-size: clamp(1rem, 2.3vw, 4rem);
                padding-left: 1rem;
            }
            p{
                padding-left: 1rem;
            }
            p:nth-of-type(1) {
                font-size: clamp(1rem, 2.3vw, 4rem);
                padding-left: 0;
                padding-right: 1rem;
            }
            .ratings {
                padding-left: 1rem;
            }
        }
    }
}

// ---------------------------------------
// ------ Main -> shopping_cart ----------
// ---------------------------------------
